[Unit]
Description=Conditional Deep Learning at 4:00 AM MSK (01:00 UTC)

[Timer]
OnCalendar=*-*-* 01:00:00
Persistent=true

[Install]
WantedBy=timers.target
